*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ccc;
}
.container{
    max-width: 900px;
    margin: 0 auto;
}
.apply_box{
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 3px 4px 4px rgba(1, 1, 1, 0.2);
    border-radius: 10px;
}
.form_container{
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(200px,1fr));
    gap: 20px;
}
.form_control{
    display: flex;
    flex-direction: column;
}
label{
    margin-bottom: 5px;
    font-size: 15px;
}
textarea{
    width: 100%;
}
input , select , textarea {
    padding: 6px 10px;
    border: 2px solid grey;
    border-radius: 5px;
}
input:focus,
textarea:focus,
select:focus {
    outline: none;
    border: 2px solid rgb(114, 58, 6);
}
.button_container{
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}
button{
    font-size: 18px;
    background-color: rgb(200, 10, 10);
    border: transparent solid 2px grey;
    padding: 4px 5px;
    color: aliceblue;
    border-radius: 8px;
    transition: 0.3s ease-in;
}
button:hover{
    background-color: rgb(234, 229, 229);
    color: black;
    transition: 0.3s ease-out;
    cursor: pointer;
}